
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WatsonTrend</title>

    <link href="../CSS/styleSheet.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel=icon href="../Images/favicon.png">


    {{! fontawesome5.0 }}
    {{! Local file:     <script src="/icons.js" crossorigin="anonymous"></script> }}
    {{! <script src="https://kit.fontawesome.com/36d065f314.js" crossorigin="anonymous"></script> }}

	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />


  		<script src="../JS/topNavResponsive.js"></script>